<div class='card-pricing'>
    <div class='card__img'>
        <img src='http://placekitten.com/g/100/100' />
    </div>
    <div class='card__desc'>
        <h2 class='desc__title'> Title </h2>
        <a class='cta cta--seemore'> cta ></a>
    </div>
</div>